@page "/employee"
@using BlazorCRUD.Data
@inject EmployeeService employeeService

<NavLink class="nav-link" href="AddEmployee">
  <span class="oi oi-plus" aria-hidden="true"></span> Add New
</NavLink>

<h1>Employee Information</h1>

@if ( employees == null )
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Country</th>
        <th>City</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach( EmployeeInfo employee in employees )
      {
        <tr>
          <td>@employee.EmployeeId</td>
          <td>@employee.Name</td>
          <td>@employee.Gender</td>
          <td>@employee.Country</td>
          <td>@employee.City</td>
          <td>
            <a class="nav-link" href="EditEmployee/@employee.EmployeeId">
              <span class="oi oi-pencil" aria-hidden="true"></span>Edit
            </a>
            <a class="nav-link" href="DeleteEmployee/@employee.EmployeeId">
              <span class="oi oi-trash" aria-hidden="true"></span>Delete
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}


@code {

  /// <summary>
  /// Contains the list of employees.
  /// </summary>
  List<EmployeeInfo> employees = new List<EmployeeInfo>();

  /// <summary>
  /// This method queries the database for employees when this razor component
  /// finishes initialization.
  /// </summary>
  /// <returns>A list of employees from the database.</returns>
  protected override async Task OnInitializedAsync()
  {
    employees = await Task.Run( () => employeeService.GetEmployees() );
  }
}
